@import "tailwindcss";

:root {
  /* 기본 배경/글자 색 */
  --background: #323437;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@theme {
  /* 컬러 팔레트 */
  --color-root: #323437;
  --color-cdark: #2c2e31;
  --color-cred: #ff5f56;
  --color-corange: #ffbd2e;
  --color-cgreen: #27c93f;
  --color-cblue: #739bd7;

  /* 폰트 */
  --font-salad: "EF_cucumbersalad";
  --font-corn: "Ownglyph_corncorn-Rg";
  --font-dung: "DungGeunMo";
  --font-d2: "D2Coding";
  --font-paper: "Paperlogy-6SemiBold";
}

/* 폰트 정의 */
@font-face {
  font-family: "EF_cucumbersalad";
  src: url("/fonts/EF_cucumbersalad.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ownglyph_corncorn-Rg";
  src: url("/fonts/Ownglyph_corncorn-Rg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DungGeunMo";
  src: url("/fonts/DungGeunMo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "D2Coding";
  src: url("/fonts/D2Coding.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy-6SemiBold";
  src: url("/fonts/Paperlogy-6SemiBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

/* 스크롤 바 숨기기 기능 */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
